

/* ===== Primary Styles ========================================================
   Author: Paul Swartz
   ========================================================================== */
html.localstorage #local-storage-alert {
    display: none;
}
#projects th.delete-column {
    width: 2em;
}
#projects tr.red td.project,
#projects td.project .branches li.red {
    border-left: 5px solid red;
}
#projects tr.green td.project,
#projects td.project .branches li.green {
    border-left: 5px solid green;
}
#projects .branches li {
    margin: 5px 0;
    padding-left: 10px;
}
#projects .branches li .sparkline {
    padding-left: 10px;
}
#projects ul {
    list-style: none;
    margin-left: 0;
}
#projects button.delete {
    display: none;
}
#projects tr:hover button.delete {
    display: block;
}
.highlight {
    background: #ff9;
}