

/* ===== Primary Styles ========================================================
   Author: Paul Swartz
   ========================================================================== */

html.localstorage #local-storage-alert {
    display: none;
}
#projects th.delete-column {
    width: 2em;
}
#projects tr.red td.project strong {
    color: red;
}
#projects tr.green td.project strong {
    color: green;
}
#projects button.delete {
    display: none;
}
#projects tr:hover button.delete {
    display: block;
}
.highlight {
    background: #ff9;
}