

/* ===== Primary Styles ========================================================
   Author: Paul Swartz
   ========================================================================== */

#projects tr.red td.project {
    color: red;
}
#projects tr.green td.project {
    color: green;
}